.flex-container{
  width:750px;
  height: 600px;
  border: solid green 2px;
  display: flex;
flex-wrap: wrap;

align-items: center;
}
.box1{
  border: solid black;width:120px;height: 65px;
  background-color: lightblue;
margin-top: 20px;
margin-left: 20px;

}
.box2{
  border: solid black;width:120px;height: 100px;
  background-color: red;
margin-top: 20px;
margin-left: 20px;

}
.box3{
  border: solid black;width:120px;height: 65px;
  background-color: lightblue;
margin-top: 20px;
margin-left: 20px;

}
.box4{
  border: solid black;width:120px;height: 100px;
  background-color: red;
margin-top: 20px;
margin-left: 20px;

}
.box5{
  border: solid black;width:120px;height: 65px;
  background-color: lightblue;
margin-top: 20px;
margin-left: 20px;

}
body{
  background-color: yellow
}